#whoWeAre {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  h3 {
    margin-top: 30px;
    font-weight: 700;
    font-size: 32px;
    color: #C4C4CB;

    #home-title1{
      color: #7f0511;
    }
    #home-title2{
      color: #C57C05;
    }
  }

  p {
    margin-left: auto;
    margin-right: auto;
  }

  .texto-direita {
    text-align: right;
  }

  .texto-esquerda {
    text-align: left;
  }

  .item-service {
    text-align: center;

    @media (max-width: 600px) {
      margin-top: 50px;
    }
    img {
      margin-bottom: 10px;
    }
  }

  .left-service {
    @media (min-width: 601px) {
      padding-right: 50px;
    }
  }

  .right-service {
    @media (min-width: 601px) {
      padding-left: 50px;
    }
  }

  #servicos {
    margin-top: 60px;
    .row {
      margin-bottom: 0;
      display: flex;
    }
  }
}
