#whoWeAre {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  h3 {
    margin-top: 30px;
    font-weight: 700;
    font-size: 32px;
    color: #C4C4CB;

    #home-title1{
      color: #7f0511;
    }
    #home-title2{
      color: #C57C05;
    }
  }
  
  .button2 {
        padding: 6px 22px;
        border-radius: 4px;
        opacity: 0.8;
        position: relative;
        bottom: -50px;
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 24px;
        font-weight: 600;
        cursor: pointer;
        text-align: center;
        outline: none;
        height: 40px;
        width: 330px;
        min-width: 120px;
        max-width: 400px;
  }
  
  #home-botao4{
    color: #000;
    background-color: #C57C05;
    border: 2px solid #C57C05;
  }

  p {
    margin-left: auto;
    margin-right: auto;
  }

  .texto-direita {
    text-align: right;
  }

  .texto-esquerda {
    text-align: left;
  }

  .item-service {
    text-align: center;

    @media (max-width: 600px) {
      margin-top: 50px;
    }
    img {
      margin-bottom: 10px;
    }
  }

  .left-service {
    @media (min-width: 601px) {
      padding-right: 50px;
    }
  }

  .right-service {
    @media (min-width: 601px) {
      padding-left: 50px;
    }
  }

  #servicos {
    margin-top: 60px;
    .row {
      margin-bottom: 0;
      display: flex;
    }
  }
}
